<% layout('layouts/boilerplate.ejs') %>

    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-Info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 2.5rem;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
        }
    </style>


    <body>
        <div id="filters" class="collapse collapse-horizontal">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic Cities</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>

            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farms</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Arctic</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beachfront</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
                </div>
            </div>
        </div>

        <!-- When user clicks on a category that has no listings -->
        <% if (noListings) { %>
            <div class="alert alert-secondary text-center" role="alert">
                <h4>No listings found for "<%= category %>" category</h4>
                <p>Try exploring other categories or check back later!</p>
                <a href="/listings" class="btn btn-dark add-btn mt-3">View All Listings</a>
            </div>
            <% } %>


                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
                    <% for(let listing of allListings){ %>
                        <a href="/listings/<%= listing._id %>" class="listing-link">
                            <div class="card col listing-card">
                                <% if (listing.images.length> 0) { %>
                                    <img class="card-img-top" src="<%= listing.images[0].url %>" alt="Listing Image"
                                        style="height: 20rem;">
                                    <% } else { %>
                                        <img class="card-img-top" src="/default-image.jpg" alt="Default Listing Image"
                                            style="height: 20rem;">
                                        <% } %>
                                            <div class="card-img-overlay"></div>
                                            <div class="card-body">
                                                <p class="card-text">
                                                    <b>
                                                        <%= listing.title %>
                                                    </b>
                                                    <br>
                                                    <% if (listing.price !==null && listing.price !==undefined) { %>
                                                        &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
                                                            <i class="tax-Info"> &nbsp; &nbsp; +18% GST</i>
                                                            <% } else { %>
                                                                Price not available<br>
                                                                <% } %>
                                                </p>
                                            </div>
                            </div>
                        </a>
                        <% } %>
                </div>
    </body>
    <script>
        document.querySelectorAll('.filter').forEach(filter => {
            filter.addEventListener('click', function () {
                // Get the text of the paragraph inside the clicked filter (category name)
                const category = this.querySelector('p').textContent;
                // Redirect to listings page with the selected category as a query parameter
                window.location.href = `/listings?category=${category}`;
            });
        });

        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-Info");
            for (info of taxInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }

            }
        })
    </script>